<!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Regions
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-map-marker"></i> Regions
                                <button type="button" class="btn btn-primary top-btn" data-toggle="modal" data-target="#myModal">Add Region</button>                       
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                
                    <div >
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Regions</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let region of regionList; let i = index" >
                                        <td>{{i + 1}}</td>
                                        <td>{{region.region_name}}</td>
                                        <td>
                                            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#myModal2">Edit</button>
                                            <button class="btn btn-danger">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add Region</h4>
                            </div>
                            <div class="modal-body">
                                
                                <form role="form" [formGroup]="regionForm" (ngSubmit)="addRegion(regionForm.value)">

                                    <div class="form-group" [ngClass]="{'has-error':!regionForm.controls['region_name'].valid && regionForm.controls['region_name'].touched}">
                                        <label>Region Name</label>
                                        <input class="form-control"  [formControl]="regionForm.controls['region_name']" placeholder="Enter Region name">
                                        <span class="text-danger" *ngIf="regionForm.controls['region_name'].hasError('required') && regionForm.controls['region_name'].touched" >Region name cannot be empty</span>
                                        <div *ngIf="successNote" class="text-success">Region saved successfully</div>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Add Region</button>
                                    <button type="reset" class="btn btn-danger">Reset Button</button>

                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                            </div>

                        </div>
                    </div>

                    <!--Modal Two-->
                     <div id="myModal2" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Edit Region</h4>
                            </div>
                            <div class="modal-body">
                                
                                <form role="form">

                                    <div class="form-group">
                                        <label>Region Name</label>
                                        <input class="form-control" placeholder="Enter text">
                                    </div>

                                    <button type="submit" class="btn btn-primary">Update Region</button>
                                    <button type="reset" class="btn btn-danger">Reset Button</button>

                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                            </div>

                        </div>
                    </div>
                    <!--./ Modal Two-->
