<!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            User Management
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-question-circle"></i> Users
                                <button type="button" class="btn btn-primary top-btn" data-toggle="modal" data-target="#myModal">Add New User</button>                       
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                
                    <div >
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of userDetails; let i = index" >
                                        <td>{{i + 1}}</td>
                                        <td>{{user.name}}</td>
                                        <td>{{user.email}}</td>
                                        <td>
                                            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#myModal2" (click)="activateEdit(user)">Edit User</button>
                                            <button class="btn btn-danger" (click)="blockUser(user.user_id)">Block User</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add New User</h4>
                            </div>
                            <div class="modal-body">
                                
                                <form role="form" [formGroup]="userForm" (ngSubmit)="addUser(userForm.value)" >

                                    <div class="form-group" [ngClass]="{'has-error':!userForm.controls['name'].valid && userForm.controls['name'].touched}" >
                                        <label>User Name</label>
                                        <input class="form-control" type="text" [formControl]="userForm.controls['name']" placeholder="E.g Amaka Ebun Aisha">
                                        <span class="text-danger" *ngIf="userForm.controls['name'].hasError('required') && userForm.controls['name'].touched" >Please input a valid name</span>
                                    </div>

                                    <div class="form-group" [ngClass]="{'has-error':!userForm.controls['email'].valid && userForm.controls['email'].touched}">
                                        <label>Email</label>
                                        <input class="form-control" type="email" [formControl]="userForm.controls['email']" placeholder="E.g John@doe.com">
                                        <span class="text-danger" *ngIf="userForm.controls['email'].hasError('pattern') && userForm.controls['email'].touched" >Please input a valid email address</span>
                                    </div>

                                    <div class="form-group" [ngClass]="{'has-error':!userForm.controls['phone'].valid && userForm.controls['phone'].touched}">
                                        <label>Phone</label>
                                        <input class="form-control" type="text" [formControl]="userForm.controls['phone']" placeholder="E.g 08123456789">
                                        <span class="text-danger" *ngIf="userForm.controls['phone'].hasError('pattern') && userForm.controls['phone'].touched" >Please input a valid phone number</span>
                                    </div>

                                    <div class="form-group" [ngClass]="{'has-error':!userForm.controls['password'].valid && userForm.controls['password'].touched}">
                                        <label>Password</label>
                                        <input class="form-control" type="password" [formControl]="userForm.controls['password']" placeholder="Minimum of 8 Characters">
                                        <span class="text-danger" *ngIf="userForm.controls['password'].hasError('pattern') && userForm.controls['password'].touched">Please input a minimum of 8 characters</span>
                                    </div>

                                    <div class="form-group" [ngClass]="{'has-error':!userForm.controls['location'].valid && userForm.controls['location'].touched}">
                                        <label>Location</label>
                                        <input class="form-control" type="text" [formControl]="userForm.controls['location']" placeholder="E.g Lagos Island">
                                        <span class="text-danger" *ngIf="userForm.controls['location'].hasError('required') && userForm.controls['location'].touched" >Please input a valid location</span>
                                    </div>

                                    <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Add New User</button>
                                    <button type="reset" class="btn btn-danger">Reset Form</button>

                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                            </div>

                        </div>
                    </div>

                    <!--Modal Two-->
                     <div id="myModal2" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                          <!-- Modal content-->
                           <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Edit User Details</h4>
                            </div>
                            <div class="modal-body">
                                
                                <div>

                                    <div class="form-group">
                                        <label>User Name</label>
                                        <input class="form-control" type="text" [ngModel]="editCopy?.name" (ngModelChange)="editCopy.name = $event">
                                    </div>

                                    <div class="form-group">
                                        <label>Email</label>
                                        <input class="form-control" type="email" [ngModel]="editCopy?.email" (ngModelChange)="editCopy.email = $event">
                                    </div>

                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input class="form-control" type="text" [ngModel]="editCopy?.phone" (ngModelChange)="editCopy.phone = $event">
                                    </div>

                                    <div class="form-group">
                                        <label>Location</label>
                                        <input class="form-control" type="text" [ngModel]="editCopy?.location" (ngModelChange)="editCopy.location = $event">
                                    </div>

                                    <button type="submit" class="btn btn-primary" (click)="updateUser(editCopy)">Update User Details</button>
                                    <button type="reset" class="btn btn-danger">Reset Button</button>

                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                            </div>

                        </div>
                    </div>
                    <!--./ Modal Two-->
