<!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Factsheets
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-book"></i> Factsheets
                                <button type="button" class="btn btn-primary top-btn" data-toggle="modal" data-target="#myModal">Add Factsheet</button>                       
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                
                    <div >
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Factsheet Title</th>
                                        <th>Factsheet Region</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--<tr>
                                        <td>1</td>
                                        <td>Nnamdi Azikwe</td>
                                        <td>South East</td>
                                        <td>
                                            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#myModal2">Edit</button>
                                            <button class="btn btn-danger">Delete</button>
                                        </td>
                                    </tr>-->
                                    <tr *ngFor="let factsheet of allMyFactsheet; let i = index" >
                                       <td>{{i + 1}}</td>
                                        <td>{{factsheet.fact_sheet_title}}</td>
                                        <td>{{factsheet.fact_sheet_region}}</td>
                                        <td>
                                            <button class="btn btn-primary">Edit</button>
                                            <button class="btn btn-danger">Delete</button>
                                        </td> 
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add Factsheet</h4>
                            </div>
                            <div class="modal-body">
                                
                                <form role="form" [formGroup]="factForm" (ngSubmit)="addFactsheet(factForm.value)" >

                                    <div class="form-group" [ngClass]="{'has-error': !factForm.controls['title'].valid && factForm.controls['title'].touched}" >
                                        <label>Factsheet Title</label>
                                        <input class="form-control" [formControl]="factForm.controls['title']" placeholder="Enter text">
                                        <span  class="text text-danger"  *ngIf="factForm.controls['title'].hasError('required') && factForm.controls['title'].touched" >Title is required</span>
                                    </div>

                                    <div class="form-group" [ngClass]="{'has-error': !factForm.controls['region'].valid && factForm.controls['region'].touched}">
                                        <label>Factsheet Region</label>
                                        <select class="form-control" [formControl]="factForm.controls['region']">
                                            <option value="null">--Select Region--</option>
                                            <option *ngFor="let region of myRegions" [value]="region.region_id">{{region.region_name}}</option>
                                        </select>
                                        <span  class="text text-danger"  *ngIf="factForm.controls['region'].hasError('required') && factForm.controls['region'].touched">Region is required</span>
                                    </div>

                                    <div class="form-group" [ngClass]="{'has-error': !factForm.controls['details'].valid && factForm.controls['details'].touched}">
                                        <label>Factsheet Details</label>
                                        <textarea class="form-control" [formControl]="factForm.controls['details']" rows="3"></textarea>
                                        <span  class="text text-danger"  *ngIf="factForm.controls['details'].hasError('required') && factForm.controls['details'].touched" >Details is required</span>
                                    </div>

                                    <div class="form-group">
                                        <h3 class="text-danger" *ngIf="cantAdd" >Cannot add data to database. Try again.</h3>
                                    </div>

                                    <button type="submit" class="btn btn-primary" [disabled]="!factForm.valid">Add Factsheet</button>
                                    <button type="reset" class="btn btn-danger">Reset Button</button>

                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger
                                " data-dismiss="modal">Close</button>
                            </div>
                            </div>

                        </div>
                    </div>

                    <!--Modal Two-->
                     <div id="myModal2" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Edit Factsheet</h4>
                            </div>
                            <div class="modal-body">
                                
                                <form role="form">

                                    <div class="form-group">
                                        <label>Factsheet Title</label>
                                        <input class="form-control" placeholder="Enter text">
                                    </div>

                                    <div class="form-group">
                                        <label>Factsheet Region</label>
                                        <select class="form-control">
                                            <option>North West</option>
                                            <option>South West</option>
                                            <option>South South</option>
                                            <option>North Central</option>
                                            <option>North West</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Factsheet Details</label>
                                        <textarea class="form-control" rows="3"></textarea>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Update Factsheet</button>
                                    <button type="reset" class="btn btn-danger">Reset Button</button>

                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                            </div>

                        </div>
                    </div>
                    <!--./ Modal Two-->