<!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Questions
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-question-circle"></i> Questions
                                <button type="button" class="btn btn-primary top-btn" data-toggle="modal" data-target="#myModal">Add Question</button>                       
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                
                    <div >
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Questions</th>
                                        <th>Factsheets</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Who is Nnamdi Azikwe?</td>
                                        <td>Nnamdi Azikwe</td>
                                        <td>
                                            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#myModal2">Edit</button>
                                            <button class="btn btn-danger">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                       <td>2</td>
                                        <td>Obafemi Awolowo is an indigine of?</td>
                                        <td>Obafemi Awolowo</td>
                                        <td>
                                            <button class="btn btn-primary">Edit</button>
                                            <button class="btn btn-danger">Delete</button>
                                        </td> 
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Akintola Ladoke ___ was named after Ladoke Akintola</td>
                                        <td>Akintola Ladoke</td>
                                        <td>
                                            <button class="btn btn-primary">Edit</button>
                                            <button class="btn btn-danger">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Saudauna Sokoto was born in the year?</td>
                                        <td>Saudauna Sokoto</td>
                                        <td>
                                            <button class="btn btn-primary">Edit</button>
                                            <button class="btn btn-danger">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add Questions</h4>
                            </div>
                            <div class="modal-body">
                                
                                <form role="form">

                                    <div class="form-group">
                                        <label>Question</label>
                                        <input class="form-control" placeholder="Enter Question text here">
                                    </div>

                                    <div class="form-group">
                                        <label>Factsheet</label>
                                        <select class="form-control">
                                            <option>Nnamdi Azikwe</option>
                                            <option>Ladoke Akintola</option>
                                            <option>Saudauna Sokoto</option>
                                            <option>Obafemi Awolowo</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Option 1</label>
                                        <input class="form-control" placeholder="Enter Question text here">
                                    </div>

                                    <div class="form-group">
                                        <label>Option 2</label>
                                        <input class="form-control" placeholder="Enter Question text here">
                                    </div>

                                    <div class="form-group">
                                        <label>Option 3</label>
                                        <input class="form-control" placeholder="Enter Question text here">
                                    </div>

                                    <div class="form-group">
                                        <label>Option 4</label>
                                        <input class="form-control" placeholder="Enter Question text here">
                                    </div>

                                    <div class="form-group">
                                        <label>Right Answer</label>
                                        <input class="form-control" placeholder="Enter Question text here">
                                    </div>

                                    <button type="submit" class="btn btn-primary">Add Question</button>
                                    <button type="reset" class="btn btn-danger">Reset Button</button>

                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                            </div>

                        </div>
                    </div>

                    <!--Modal Two-->
                     <div id="myModal2" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                          <!-- Modal content-->
                           <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add Questions</h4>
                            </div>
                            <div class="modal-body">
                                
                                <form role="form">

                                    <div class="form-group">
                                        <label>Question</label>
                                        <input class="form-control" placeholder="Enter Question text here">
                                    </div>

                                    <div class="form-group">
                                        <label>Factsheet</label>
                                        <select class="form-control">
                                            <option>Nnamdi Azikwe</option>
                                            <option>Ladoke Akintola</option>
                                            <option>Saudauna Sokoto</option>
                                            <option>Obafemi Awolowo</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Option 1</label>
                                        <input class="form-control" placeholder="Enter Question text here">
                                    </div>

                                    <div class="form-group">
                                        <label>Option 2</label>
                                        <input class="form-control" placeholder="Enter Question text here">
                                    </div>

                                    <div class="form-group">
                                        <label>Option 3</label>
                                        <input class="form-control" placeholder="Enter Question text here">
                                    </div>

                                    <div class="form-group">
                                        <label>Option 4</label>
                                        <input class="form-control" placeholder="Enter Question text here">
                                    </div>

                                    <div class="form-group">
                                        <label>Right Answer</label>
                                        <input class="form-control" placeholder="Enter Question text here">
                                    </div>

                                    <button type="submit" class="btn btn-primary">Update Question</button>
                                    <button type="reset" class="btn btn-danger">Reset Button</button>

                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                            </div>

                        </div>
                    </div>
                    <!--./ Modal Two-->
